<h1 class="mb-4">Sales details</h1>
<table class="table table-striped table-bordered">
    <thead>
      <tr> 
        <th>Item name</th>
        <th>Price</th>
        <th>Sales day</th>
      </tr>
    </thead>
  <tbody>
    <% @purchase_record_products.each do |purchase_record_product| %>
      <% product = purchase_record_product.product %>
      <tr>
        <td>
          <%= product.name %>
        </td>
        <td>
          <%= product.price  %> 円
        </td>
        <td>
          <%= purchase_record_product.created_at %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="fix">
 <%= link_to  admins_root_path do %>
      <p class="btn btn-dark">Back Home</p>
   <% end %>
</div>