html {
  margin: 20px;
}

.nav-item > li {
	padding-top: 8px;
}

.nav-item > p {
	color: white;
	margin-right: 30px;
	padding-top: 8px;
	
}

#product-show p {
   overflow-wrap: break-word;
   padding-bottom: 20px;
 }

 .appeal {
  width:			100%;
	height:			100%;
	overflow:		hidden;
	margin:			10px 8px 10px 16px;
	position:		relative;
 }

 .appeal .caption {
	font-size:		130%;
	color:			#fff;
	padding-top:		80px;
	padding-left:		0px;
}

.appeal .mask {
	width:			90%;
	height:			100%;
	position:		absolute;
	top:			0;
	left:			0;
	opacity:		0;	
	background-color:	rgba(0,0,0,0.4);
	-webkit-transition:	all 0.6s ease;
	transition:		all 0.6s ease;
}

.appeal:hover .mask {
	opacity:		1;
	padding-left:		30px;	
}

 .fix {
  position: fixed;
  bottom: 10px; 
  right: 10px;
  padding: 6px 40px;
}

.red_heart {
  color: red;
}
 
.page, .first, .prev, .next, .last {
	margin:1px;
	padding: 8px;
	border: 1px lightgray solid;
	border-radius: 15%;
}

.pagination {
	margin-top: 50px;
  justify-content: center;
}

