<% @products.each do |product| %>
  <%= link_to product_path(product) do %>
    <div>
      <%= image_tag product.image.url %>
      <p><%= product.name %></p>
      <p><%= product.price.to_s(:delimited) %>円</p>
      <hr/>
    </div>
  <% end %>
<% end %>
